<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <h1>Gamee</h1>
      <!-- <img src="/img/logo.png" alt="Cool Admin" /> -->
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="active">
          <a href="/"> <i class="fas fa-tachometer-alt"></i>Dashboard</a>
        </li>
        <li>
          <a href="/users"> <i class="fas fa-users"></i>Users</a>
        </li>
        <li>
          <a href="/promotions"> <i class="fas fa-gifts"></i>Promotions</a>
        </li>
        <li>
          <a href="/alerts"> <i class="fas fa-exclamation"></i>Alerts</a>
        </li>
        <li>
          <a href="/moneydelivered">
            <i class="fas fa-money-bill"></i>Money Delivered</a
          >
        </li>
        <li>
          <a href="/developers"> <i class="fas fa-code"></i>Developers</a>
        </li>
        <li>
          <a href="/games"> <i class="fas fa-gamepad"></i>Games</a>
        </li>
        <li>
          <a href="/ads"> <i class="fas fa-ad"></i>Ads</a>
        </li>
        <li class="has-sub">
          <a class="js-arrow" href="#"> <i class="fas fa-copy"></i>Pages</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="login.html">Login</a>
            </li>
            <li>
              <a href="register.html">Register</a>
            </li>
            <li>
              <a href="forget-pass.html">Forget Password</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->
